
@media only screen and (min-width: 768px) {
	/*pc端设计*/
	.content img{
		width: 150px;
		height: 150px;
	}
}

@media only screen and (max-width: 768px) {
	/*手机端设计*/
	.content img{
		width: 1.8rem;
		height: 1.8rem;
	}
	footer p,.content p{
		font-size: .14rem;
	}
	footer a{
		font-size: .14rem;
	}
}
