@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	/*font-size: 0;*/
	box-sizing: border-box;
}
.mar{
	margin-top: 20px;
}
.marx{
	margin-top: 100px;
}
.pd{
	padding: 50px;
}
.tw{
	color: #EFEFEF;
}
body{
	background: #333;
}
@media only screen and (min-width: 768px) {
	/*pc端设计*/
	.no-show{
		display: none;
	}
	header{
		width: 100%;
		padding: 90px 0;
		/*background-image: linear-gradient(to top,#a5b4ed,#737fab);*/
		background: url(../img/bg1.jpg) no-repeat;
		background-size: 100% 100%;
	}
	header .main{
		font-weight:100 ;
	}
	nav img{
		height: 30px;
		/*margin: 10px 50px 0 0;*/
	}
	footer{
		width: 100%;
		margin-top: 100px;
		padding: 50px 0;
		background: #122B40;
		color: #efefef;
	}
	footer a{
		margin: 20px;
		color: #999;
	}
	
}

@media only screen and (max-width: 768px) {
	/*手机端设计*/
	.no-phone{
		display: none;
	}
	header{
		width: 100%;
		padding: .5rem 0;
		margin-top: 30px;
		/*background-image: linear-gradient(to top,#a5b4ed,#737fab);*/
		background: url(../img/bg1.jpg) no-repeat;
		background-size: auto 100%;
	}
	header .main{
		font-weight:100 ;
	}
	nav{
		background: #FFF;
	}
	nav img{
		height: 25px;
		/*margin: .1rem .5rem 0 0;*/
	}
	nav span{
		font-size: .3rem;
		color: #fff;
	}	
	nav{
		padding-right: 15px;
	}
	footer{
		width: 100%;
		margin-top: 100px;
		padding: 50px 0;
		background: #122B40;
		color: #efefef;
	}
	footer a{
		margin: 20px;
		color: #999;
	}
}
