@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	/*font-size: 0;*/
	box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
	/*pc端设计*/
	.no-show{
		display: none;
	}
	header{
		width: 100%;
		padding-bottom: 50px;
		background-image: linear-gradient(to top,#a5b4ed,#737fab);
	}
	nav img{
		height: 30px;
		/*margin: 10px 50px 0 0;*/
	}
	footer{
		width: 100%;
		margin-top: 100px;
		padding: 50px 0;
		background: #122B40;
		color: #efefef;
	}
	footer a{
		margin: 20px;
		color: #999;
	}
	
}

@media only screen and (max-width: 768px) {
	/*手机端设计*/
	.no-phone{
		display: none;
	}
	header{
		width: 100%;
		padding-bottom: .5rem;
		background-image: linear-gradient(to top,#a5b4ed,#737fab);
	}
	nav img{
		height: 30px;
		/*margin: .1rem .5rem 0 0;*/
	}
	nav span{
		font-size: .3rem;
		color: #91A1DC;
	}	
	nav{
		padding-right: 15px;
	}
	footer{
		width: 100%;
		margin-top: 100px;
		padding: 50px 0;
		background: #122B40;
		color: #efefef;
	}
	footer a{
		margin: 20px;
		color: #999;
	}
}
